<!doctype html>
<html lang="en">

    <head>
        <title>{% block title %}Welcome to the SpaceBar{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/custom/styles.css') }}" />
            <!-- JqueryUI CSS needed for autocomplete -->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {% endblock %}
    </head>

    <body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5" id="bannerbar">
            <span style="float: left;"><img src="{{ asset('/images/spam4ulogo2.jpg') }}"></span>
            <span style="float: left;"><h1>&nbsp;We Spam<span style="color:#be0927;">4U</span>.com</h1></span>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown" style="margin-right: 75px;">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_account') }}">Account</a>
                                <a class="dropdown-item" href="{{ path('app_add_contactemailaddress') }}">Add Contact</a>
                                <a class="dropdown-item" href="{{ path('app_show_contacts') }}">View Contacts</a>
                                <a class="dropdown-item" href="{{ path('app_logout')}}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a style="color: #fff;" id="navbarDropdownMenuLinkLogin" class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff;" id="navbarDropdownMenuLinkRegister" class="nav-link" href="{{ path('app_register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

        {% block body %}{% endblock %}

    <div class="container">
        <footer class="footer">
            <div class="container text-center">
                <a href="{{ path('app_index') }}">Home</a> /
                <a href="{{ path('register-as-client') }}">Register Spam4U as client</a> /
                <a href="{{ path('fetchEmailContacts') }}">Fetch email contacts</a> /
            </div>
        </footer>
    </div>


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

            <!-- JqueryUI needed for autocomplete -->
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script>
            <!-- Autocomplete ajax -->
                $( "#autocomplete" ).autocomplete({
                    source: function( request, response ) {
                        // Fetch data
                        $.ajax({
                            url: "/movieindex/search",
                            type: 'post',
                            dataType: "json",
                            data: {
                                search: request.term
                            },
                            success: function( data ) {
                                response( data );
                            }
                        });
                    },
                    select: function (event, ui) {
                        // Set selection
                        $('#autocomplete').val(ui.item.label); // display the selected text
                        return false;
                    }
                });
            </script>
        {% endblock %}
    </body>
</html>
